.mHeader{
	margin-top: 20px;
	height: 50px;
	width: 200px;
	margin-left: 50px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid  #F0F0F0;
}
.mHeader h3{
	padding-top: 10px;
	
}
.mMainContent{
	margin: 2% auto;
	width: 600px;
	border-radius: 5px;
	border: 1px solid  #DDD;
}
.mMainheader{
	overflow: hidden;
	height: 60px;
	width: 100%;
	background: #00B8D4;
	border-radius: 3px;
}
.mMainheader h4{
	margin-top: 17px;
	margin-left: 20px;
}
.mBody{
	margin: 6% auto;
	height: 70%;
	width: 85%;
}
.mCustomeDesign{
	padding-top: 10px;
}
.centerRow{
	padding-left: 200px;
}
.colorRed{
	color: #D50000;
}
.fileUpload{
	margin-top: 10px;
	border: 1px solid  #DDD;
	border-radius: 5px;
}
.mHeader2{
	margin: 0 auto;
	width: 600px;
}

.adminDataTableImage{
	height: 50px;
	width: 50px;
}



/*Toggle Switch*/
.switch{
	width: 50px;
	height: 30px;
	position: relative;
	display: inline-block;
}
.switch input{
	display: none;
}
.slider{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	cursor: pointer;
	background-color: #CCC;
	border-radius: 30px;
	transition: .5s;
}
.slider:before{
	position: absolute;
	background-color: #fff;
	height: 20px;
	width: 20px;
	content: "";
	left: 5px;
	bottom: 5px;
	border-radius: 50%;
	transition: .5s;
}
input:checked + .slider {
    background-color: #1863E6;
}
input:checked + .slider:before {
    transform: translateX(20px);
}


.adminProductLidtview{
	margin: 5% auto;
	width: 85%;
	border: 1px solid  #DDD;
	border-radius: 5px;
}
.col-xs-12 h3 {
	padding-left: 10px;
	padding-top: 10px;
}
.pRegistration{
	padding-top: 13%;
}



